<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <title>MeSierra</title>
</head>
<body>
    <header>
        <div class="div-logo">
            <img src="/images/hierba-logo.jpg" alt="logo">
        </div>
        <div class="div-search">
            <input type="text">
        </div>
        <div>
        <div class="div-cuenta">
            <p>MI CUENTA</p>
        </div>
        <div class="div-carrito">
            <p>CARRITO</p>
        </div>
    </div>
        <nav>
            <li>ejemplo 1</li>
            <li>ejemplo 2</li>
            <li>ejemplo 3</li>
            <li>ejemplo 4</li>
        </nav>
    </header>
    <main>
        <div class="banner-grande">
            <p>BANNER</p>
        </div>
        <div class="banner-chico">
            <p>BANNER</p>
        </div>
        <div class="products">
            <article>
                <p>producto</p>
            </article>
            <article>
                <p>producto</p>
            </article>
            <article>
                <p>producto</p>
            </article>
        </div>
        <div class="banner-grande">
            <p>BANNER</p>
        </div>
    </main>
    <footer>
        <div class="div-logo">
            <img src="/images/hierba-logo.jpg" alt="logo">
        </div>
        <div class="div-footer-boxes">
        <div class="div-footer-box">
            <h5>CONTACTOS</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas fuga sit inventore provident nulla explicabo. Tempora quibusdam beatae mollitia dignissimos consequatur nisi asperiores. Labore amet consequatur praesentium alias. Asperiores, veniam!</p>
        </div>
        <div class="div-footer-box">
            <h5>MAS PRODUCTOS</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos doloribus dicta mollitia. Dicta quos doloremque corrupti voluptates enim eveniet rem obcaecati amet nisi! Rem, ipsa eos. Quidem dolorem inventore nemo.</p>
        </div>
        <div class="div-footer-box">
            <h5>NOSOTROS</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed perferendis ea nostrum ipsum facere adipisci sequi non incidunt quibusdam molestiae, similique voluptas laborum exercitationem cupiditate dicta. Eveniet saepe cum itaque.</p>
        </div>
    </div>
    </footer>
</body>
</html>