* {
  box-sizing: border-box;
  list-style: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
  background-color: white;
  margin: 0;
}
header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #a7cdcc;
  padding: 10px;
}
.div-logo {
  width: 45vw;
  height: 15vw;
  text-align: center;
  background-color: white;
  display: flex;
}
.div-logo img {
  width: 100%;
  height: 100%;
}
.div-search {
  width: 45vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-search input {
  width: 40vw;
  height: 30px;
  margin: 10px;
  border-radius: 10px;
}
.botones {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
}
.botones div p i {
  margin-left: 2px;
  font-size: 12px;
}
.div-cuenta,
.div-carrito {
  width: 22vw;
  height: 20px;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: black;
}
nav {
  display: none;
  background-color: white;
  width: 100vw;
  height: 3vw;
  margin: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
main {
  width: 100vw;
  background-color: #a7cdcc;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.banner-grande {
  background-color: white;
  width: 100vw;
  height: 180px;
  text-align: center;
  font-size: 12px;
}
.banner-grande img {
  width: 100%;
  height: 100%;
}
.products {
  margin: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.product {
  background-color: white;
  width: 60vw;
  height: 400px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
  border: solid black 1px;
  border-radius: 10px;
  color: black;
  box-shadow: 0 2px 3px 4px rgba(0, 0, 0, 15%);
}
article img {
  width: 100%;
  height: 60%;
}
article p {
  font-size: 22px;
  margin: 2px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-content: center;
  flex-wrap: wrap;
  background-color: #A7CDCC;
  margin: 20px;
  border: solid;
}

.login-form input {
  height: 35px;
  padding: 12px 20px;
  margin: 15px 0;
  border:rgb(184, 184, 184) solid 1px;
  border-radius: 10px;
}

.register-form input:focus {
  background-color: rgb(204, 237, 248);
  border:rgb(172, 27, 27) solid 1px;
}

.login-form button {
  width: 40%;
  background-color: #0f85d3;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: auto;
  margin-top: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: all 0.5s;
}

.login-form button:hover {
  background-color: #0022AA;
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  background-color: white;
}

footer {
  margin-top: 30%;
  width: 100vw;
  padding: 20px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.footer-logo img {
  width: 90px;
  margin-bottom: -10px;
}
.div-footer-box {
  width: 18vw;
  margin: 10px;
  font-size: 8px;
}
.div-footer-boxes {
  display: flex;
  flex-direction: row;
  color: white;
}/* Product details */

.product-detail {
  margin: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  border: solid white 1px;
}
.detail {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.detail img {
  width: 50%;
  height: 40%;
}
.detail p {
  width: 40%;
  height: 20px;
  font-size: 12px;
  display: block;
  text-align: center;
}
.buy-section {
  display: flex;
  flex-direction:column ;
}
.buy-carrito {
  display: flex;
  justify-content: center;
}
.buy-info h4 {
  text-align: center;
}
.buy-info img {
  width: 300px;
  height: 150px;
  margin: 10px;
}
.carrito-section {
  background-color: white;
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.product-carrito {
  display: flex;
  flex-direction: row;
}
.price-carrito {
  width: 40vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.img-carrito {
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.img-carrito img {
  width: 100px;
  height: 100px;
}
.total-carrito {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid black 1px;
  border-color: rgba(0, 0, 0, 30%);
}
.total-carrito h4{
  width: 40vw;
  display: inline-block;
}
.izquierda h4 {
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
}
.derecha h4 {
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
}
@media (min-width: 480px) {
  header {
    flex-direction: row;
    justify-content: center;
  }
  .div-logo {
    width: 40vw;
  }
  .div-search {
    width: 40vw;
    display: flex;
    align-items: center;
  }
  .div-search input {
    width: 100%;
  }
  .banner-grande {
    height: 250px;
  }
  .products {
    flex-direction: row;
  }
  .product {
    width: 40vw;
  }
  .article-container {
    flex-direction: row;
    height: 300px;
  }
  .article {
    width: 40%;
  }
  .article-details {
    width: 40%;
  }
  .article-price {
    width: 40%;
  }
}
@media (min-width: 768px) {
  .banner-grande {
    height: 450px;
  }
  .product {
    width: 20vw;
    height: 300px;
  } 
 }
