<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body style="background-color: #a7cdcc;">
    <%- include('./partials/header.ejs') %>
    <main class="mainAbout">
        <div class="about">
            <h5>
                Texto sobre Me Sierra
            </h5>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
