<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %> 
  <body>
    <%- include('./partials/header.ejs') %> 
    <section>
        <form class="login-form" action="/login" method="GET">
            <label for="usuario"><input type="text" name="usuario" placeholder="Nombre de usuario"></label>      
            <label for="email"><input type="email" name="email" placeholder="Email"></label>
            <label for="contrasena"><input type="password" name="contrasena" placeholder="Contraseña"></label>
            <label for="contrasena"><input type="password" name="contrasena" placeholder="Repetir contraseña"></label>
            <button type="submit" href="/home">Enviar</button>
        </section>
        <%- include('./partials/footer.ejs') %> 
  </body>
</html>
