<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %> 
  <body>
    <%- include('./partials/header.ejs') %> 
    <section class="register-section">
      <div class="centrado">
      <h1>Registrate!</h1>
      </div>
        <form class="register-form" action="/users/register" method="POST">
            <!-- cambiar por nombre completo -->
          <label for="nombre_completo"><input type="text" name="nombre_completo" placeholder="Nombre completo"></label>     
          <label for="nombre_usuario"><input type="text" name="nombre_usuario" placeholder="Nombre de usuario"></label>     
            <label for="email"><input type="email" name="email" placeholder="Email"></label>
            <label for="contrasena"><input type="password" name="contrasena" placeholder="Contraseña"></label>
            <label for="categoria">Elegir categoria</label>
            <select name="categoria" id="categoria">
              <option value="asd">asd
              </option>
              <option value="vendedor">vendedor</option>
            </select>
            <label id="fotoUsuario" for="imagen"><input type="file" name="imagen" /></label>
            <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
            <label for="recordame">Recordame <input style="width: 20px; height: 20px;" type="checkbox" name="Recordame" id="recordame"></label>
          </div>
            <button type="submit" href="/home">Registrarse</button>
          </section>
        <%- include('./partials/footer.ejs') %> 
  </body>
</html>


