<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %> 
  <body>
    <%- include('./partials/header.ejs') %> 
    <section class="register-section">
      <div class="centrado">
      <h1>Registrate!</h1>
    </div>
        <form class="register-form" action="/register" method="POST">
            <label for="nombre"><input type="text" name="nombre" placeholder="Nombre"></label>      
            <label for="apellido"><input type="text" name="apellido" placeholder="Apellido"></label>      
            <label for="email"><input type="email" name="email" placeholder="Email"></label>
            <label for="contrasena"><input type="password" name="contrasena" placeholder="Contraseña"></label>
            <label for="categoria">Elegir categoria</label>
            <select name="categoria" id="categoria">
              <option value="comprador">Comprador</option>
              <option value="vendedor">vendedor</option>
            </select>
            <label id="fotoUsuario" for="imagen"><input type="file" name="imagen" /></label>
            <button type="submit" href="/home">Enviar</button>
          </section>
        <%- include('./partials/footer.ejs') %> 
  </body>
</html>


