<footer>
  <div class="footer-logo">
    <img src="/images/footer-logo.png" alt="logo" />
  </div>
  <div class="div-footer-boxes">
    <div class="div-footer-box">
      <h5>CONTACTO</h5>
      <p>0800-999-333</p>
      <p>contacto@me-sierra.com.ar</p>
    </div>
    
    <div class="div-footer-box">
      <h5>NOSOTROS</h5>
      <p>Localizados en la zona centro de la Provincia de Buenos Aires, estamos estratégicamente localizados para el despacho de productos relacionados a la Yerba Mate producida en todo el pais. Teniendo acceso directo a los productores mas importantes del país y aquellos que elaboran artesanalmente sus productos. Amamos nuestro trabajo.</p>
    </div>
  </div>
</footer>
