<footer>
  <div class="footer-logo">
    <img src="/images/footer-logo.png" alt="logo" />
  </div>
  <div class="div-footer-boxes">
    <div class="div-footer-box">
      <h5>CONTACTOS</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="div-footer-box">
      <h5>MAS PRODUCTOS</h5>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="div-footer-box">
      <h5>NOSOTROS</h5>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
</footer>
