<header>
  <a href="/">
    <div class="div-logo">
      <img src="/images/header1.png" alt="logo" />
    </div>
  </a>
  <div class="div-search">
    <input type="text" placeholder="Buscar producto" />
  </div>
  <div class="botones">
    <div class="div-cuenta">
      <% if (!locals.usuarioLog) { %>
      <a href="/usuarios/login">Ingresar<i class="fas fa-user"></i></a>
      <div class="div-cuenta">
        <a href="/usuarios/registro">Registro<i class="fas fa-user"></i></a>
      </div>
      <% }else {%>
      <a href="#"
        ><%= locals.usuarioLog.nombre %> <i class="fas fa-user"></i
      ></a>
    </div>
    <div class="div-cuenta">
      <a href="/usuarios/logout">Cerrar sesion<i class="fas fa-user"></i></a>
    </div>
    <% } %>
    <div class="div-carrito">
      <p>Carrito<i class="fas fa-shopping-cart"></i></p>
    </div>
  </div>
  <nav>
    <ul>
      <li>ejemplo 1</li>
      <li>ejemplo 2</li>
      <li>ejemplo 3</li>
      <li>ejemplo 4</li>
    </ul>
  </nav>
</header>
