<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head.ejs') %> 
  </head>
  <body>
    <%- include('./partials/header.ejs') %> 
    <section class="register-section">
      <div class="centrado">
        <h1>Ingresa con tu email!</h1>
        </div>
      <form class="login-form" action="/users/login" method="POST">
          <label for="email"></label><input type="text" name="email" placeholder="Email">
          <label for="contrasena"></label><input type="text" name="contrasena" placeholder="Contraseña">
          <button type="submit" href="/home">Enviar</button>
      </section>
      <%- include('./partials/footer.ejs') %> 
      <script src="/js/login.js"></script>
  </body>
</html>
